<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:component-scan base-package="cn.com.isurpass">
		<!-- <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" 
			/> -->
	</context:component-scan>

	<!-- 使用注解开发，不用配置controller，需要配置一个组件扫描器 -->
	<mvc:annotation-driven >
		<!-- spring mvc会自动去掉路径最后面 小数点后面的东西,这样会使shiro在特定情况下出现一些问题,因此通过以下设置使mvc不忽略小数点 -->
		<mvc:path-matching registered-suffixes-only="true"/>
	</mvc:annotation-driven>
	<mvc:default-servlet-handler />

	<!-- i18n配置 -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />
	<!-- 本地化配置 -->
	<!-- <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"> 
		<property name="cookieName" value="clientlanguage"/> <property name="cookieMaxAge" 
		value="94608000"/> <property name="defaultLocale" value="en" /> </bean> -->

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- src/messages -->
				<value>messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<!-- 如果没有找到国际化key值 默认输出key -->
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	
	
	<!-- 配置freeMarker的模板路径 -->
	<!--<bean
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="WEB-INF/ftl/" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>-->

	<!-- 配置freeMarker 拓展-->
	<bean id="freemarkerConfig"
		  class="cn.com.isurpass.house.shiro.FreeMarkerConfigExtend">
		<property name="templateLoaderPaths">
			<list>
				<value>/WEB-INF/ftl/</value>
				<!--<value>/WEB-INF/templates/</value>-->
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="default_encoding">UTF-8</prop>
			</props>
		</property>
		<!--    <property name="freemarkerVariables">
                <map>
                    <entry key="BasePath" value="/fms" />
                    <entry key="model" value="200" />
                    <entry key="xml_escape" value-ref="fmXmlEscape" />
                </map>
            </property> -->
	</bean>

	<!-- freemarker视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<!-- 此变量值为pageContext.request, 页面使用方法：rc.contextPath -->
		<property name="requestContextAttribute" value="rc" />
	</bean>

	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置从项目根目录到指定目录一端路径 ,建议指定浅一点的目录 -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!-- 文件的后缀名 -->
		<property name="suffix" value=".jsp"></property>
	</bean>

	<import resource="application.xml" />
	<import resource="spring-shiro.xml" />
	<import resource="spring-quartz.xml" />
</beans>